<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="RatnaDbConnectionString" value="" />
  </appSettings>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Resource" type="Jardalu.Ratna.Web.Resource.ResourceReader" />
        <add expressionPrefix="Constants" type="Jardalu.Ratna.Web.Resource.ConstantsExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <httpRuntime requestValidationMode="2.0" />
    <pages enableViewState="false" pageBaseType="Jardalu.Ratna.Web.UI.DynamicPage" clientIDMode="Static">
      <namespaces>
        <add namespace="Jardalu.Ratna.Web" />
        <add namespace="Jardalu.Ratna.Web.Resource" />
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <remove name="Documentation" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SecurityModule" type="Jardalu.Ratna.Web.Security.SecurityModule" />
      <add name="RedirectModule" type="Jardalu.Ratna.Web.Redirect.RedirectModule" />
      <add name="AppPathModule" type="Jardalu.Ratna.Web.Applications.AppPathModule" />
      <add name="UrlRewriter" type="Jardalu.Ratna.Web.UrlRewrite.UrlRewriter" />
      <add name="CustomResponder" type="Jardalu.Ratna.Web.CustomResponses.ResponderModule" />
    </modules>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>